<ion-content padding text-center>
    <img src="assets/imgs/logo.png" class="logo">
    <ion-list>
        <ion-item>
            <ion-input type="email" placeholder="e-mail" [(ngModel)]="user.email" text-center text-lowercase></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" placeholder="senha" [(ngModel)]="user.password" text-center></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button round block (click)="login()">{{labels.ACCESS}}</button>
    <button ion-button clear block>{{labels.FORGET_MY_PASS}}</button>
    <button ion-button clear block>{{labels.FIRST_ACCESS}}</button>
</ion-content>
