page-login {
    .item {
        padding-left: 0;
        background-color: transparent;
    }
    ion-content, content {
        // background: #3C823F;
        // background: linear-gradient(to bottom, #3C823F , rgba(37, 83, 39, 0.39));
        padding-top: 50px;
    }
    .text-input {
        color: map-get($colors, primary);
    }
    .text-input::placeholder {
        color: color($colors, out);
    }
    .logo {
        width: 100px;
        margin: 4em 0 2em 0;
    }
}
