<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

  <exheader [scrollArea]="mycontent" headerHeight="220" text-center>
    <ion-item>
      <ion-label><ion-icon name="logo-usd"></ion-icon></ion-label>
      <ion-input type="tel" placeholder="10,00" [(ngModel)]="outForm.value" (keyup)="formatOutlay($event)" (focus)="formatOutlay($event)" (blur)="formatOutlay($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="create"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Descrição" [(ngModel)]="outForm.description"></ion-input>
    </ion-item>

    <button ion-button round (tap)="createOut()">Registrar</button>
  </exheader>
</ion-header>

<ion-content fullscreen #mycontent>
  <ion-card *ngFor="let o of outlays">
    <ion-card-header>
      {{o.value}}
    </ion-card-header>
    <ion-card-content>
       {{o.description}}
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-infinite-scroll (ionInfinite)="listMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>

<exfab [scrollArea]="mycontent" [fabPositionBottom]="-220">
  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</exfab>