// http://ionicframework.com/docs/theming/
@font-face {
    font-family: Josefin-Regular;
    src: url("../assets/fonts/JosefinSans-Regular.ttf");
}
@font-face {
    font-family: Josefin-Thin;
    src: url("../assets/fonts/JosefinSans-Thin.ttf");
}
html {
    font-size: map-get($person-dimensions, fontsize);
}
.button-clear {
    text-transform: initial;
}