exheader {
    display: block;
    background-color: map-get($colors, primary);
    overflow: hidden;

    ion-item {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: white !important;

        .text-input::placeholder {
            color: color($colors, out);
        }

        ion-icon {
            color: color($colors, out);
        }
    }

    .item.item-input.item-input-has-focus .item-inner, .item.item-input.item-has-focus .item-inner, {
        border-bottom-color: 1px solid white;
        box-shadow: inset 0 -1px 0 0 white;
    }
    
    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: none;
        box-shadow: inset 0 -1px 0 0 white;
    }

    .button {
        color: color($colors, primary);
        background-color: white;
        font-weight: bold;
        margin-top: 1em;
    }
}
